:root.theme-light {
  --accent-color: #ff8dcb;              
  --bg-color: #fff1f0;                    
  --text-color: #353430;                   
  --title-color: #ffc2e0;                   
  --section-title-color: #353430;           
  --title-decor-text: #353430;              
  --button-color: #353430;                  
  --link-color: #353430;                      
  --bg-image: url('../images/cover-image-light.png'); 
}
.theme-light .decorated-rec {
  display: none; 
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bg-color: #fff1f0;
    --text-color: #353430;
    --title-color: #ffc2e0;
    --section-title-color: #353430;
    --title-decor-text: #353430;
    --button-color: #353430;
    --link-color: #353430;
    --bg-image: url('../images/cover-image-light.png');
  }
  .decorated-rec {
    display: none;
  }
 }

